# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# Unused assets -> Be sure to remove them later on.
public/11_bulb.svg
public/16_palette.svg
public/18_monitor.svg
public/18_sad_emoji.svg
public/19_watch.svg
public/3_hearts.svg
public/6_stars.svg
public/Confused.svg
public/Design.png
public/Done.png
public/Invisible.svg
public/Spiral clay.png
public/Stars.svg
public/closed eyes.png
public/eye.png
public/fire.png
public/flag.png
public/growth2.png
public/hero1.png
public/mobile-growth.png
public/plantHero.png
public/tree-growth-mobile.png
public/underline-separator.svg
public/wave.png
assets/frustrated.png
assets/happyface.png