---
interface Props {
    title: string;
    description: string;
    slug: string;
}

const { title, description, slug } = Astro.props;
---

<div class="bg-background p-1 border border-border hover:bg-darkHover transition duration-200 rounded-xl">
    {/* Inner Wrapper */}
    <div class="p-1">
    {/* Card Content goes here  */}
            <div class="border border-border bg-foreground rounded-[9px] p-2">
                <div class="flex md:flex-col justify-between">
                    <div class="flex">
                        <img class="h-20 w-20" src="4_code_window.svg" />
                    </div>
                    <h5 class="font-main text-lg">{title}</h5>
                </div>
                <div class="font-secondary">
                    <p>{description}</p>
                </div>
            </div>
            <div class="my-2 mx-1 flex justify-between items-center">
                <a href={`/demo/${slug}`} class="font-secondary bg-foreground hover:bg-darkHover border border-border rounded-full p-1" >
                    <span class="text-sm px-1">Open Demo</span>
                </a>
                <img class="bg-foreground p-1 rounded-lg h-8 w-8 border border-border" src="arrow-up-right.svg" alt="open link icon" />
            </div>
    </div>
</div>
