
---
import errorImage from "@/assets/404.png";
import { Image } from "astro:assets";
import Main from "../layouts/Main.astro";
---

<Main title="Error Page">
<div class="min-h-screen  flex items-center justify-center">
    <Image class="h-100 w-[50%]" src={errorImage} alt="404 error image"/>
</div>
</Main>