---
import Header from "@/components/common/Header";
import Hero from "../components/LandingPage/Hero";
import Container from "../layouts/Container.astro";
import Main from "../layouts/Main.astro";
---

<Main>
    <div class="min-h-screen flex flex-col items-center ">
        <Header client:load />
        <Container>
            <Hero client:load />    
        </Container>
        <div class="text-center font-secondary">The  section below is Work in Progress <img src="wand.svg" class="w-16 mx-auto" /> </div>
	</div>  
</Main>