---
import Header from "@/components/common/Header"
---
<div class="max-w-4xl mx-auto px-4">
    <div class="fixed top-0 max-w-3xl inset-x-0 mx-auto z-50">
        <Header client:load/>
    </div>
    <slot/>
</div>